/* Reset Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

/* common style */
.common-btn {
    background-color: #fd6e0a;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.outline-btn {
    background-color: white;
    padding: 10px 20px;
    border: 1px solid #fd6e0a;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    color: #fd6e0a;
    cursor: pointer;
    
}


.container {
    max-width: 1200px;
    margin: auto;
}

/* Navbar */

header{
    background-color: #FFF8F3;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.logo{
    font-weight: 800;
    font-size: 45px;
}

.logo-r{
    color: #fd6e0a;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;
}

ul li a{
    text-decoration: none;
    color: #474747;
    padding: 0 10px;
    font-weight: 400;
}


/* Hero Section */

.hero-parent-root {
    background-color: #FFF8F3;
    overflow: hidden;
}

.hero-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    min-height: 600px;
}

.hero-left {
    flex: 1;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-right img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero-left-p-1 {
    font-size: 45px;
    font-weight: 600;
}

.hero-left h2 {
    font-weight: bold;
    font-size: 85px;
}

.hero-left-p-2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.hero-left-btn-parent {
    margin-top: 10px;
}
