/* Reset Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

/* common style */
.common-btn {
    background-color: #fd6e0a;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.outline-btn {
    background-color: white;
    padding: 10px 20px;
    border: 1px solid #fd6e0a;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    color: #fd6e0a;
    cursor: pointer;
    
}


.container {
    max-width: 1200px;
    margin: auto;
}

/* Navbar */

header{
    background-color: #FFF8F3;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.logo{
    font-weight: 800;
    font-size: 45px;
}

.logo-r{
    color: #fd6e0a;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;
}

ul li a{
    text-decoration: none;
    color: #474747;
    padding: 0 10px;
    font-weight: 400;
}


/* Hero Section */

.hero-parent-root {
    background-color: #FFF8F3;
    overflow: hidden;
}

.hero-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    min-height: 600px;
}

.hero-left {
    flex: 1;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-right img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero-left-p-1 {
    font-size: 45px;
    font-weight: 600;
}

.hero-left h2 {
    font-weight: bold;
    font-size: 85px;
}

.hero-left-p-2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.hero-left-btn-parent {
    margin-top: 10px;
}

/* About Me Section */

.about-me {
    background-color: #FFF8F3;
    margin: 60px auto;
    border-radius: 10px;
    /* padding: 75px; */
    text-align: center;
}

.about-me p{
    margin: 20px 0;
}

.about-box-parent{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.about-box-parent .box{
    /* background-color: #aba9a8; */
    background-color: #FFF8F3;
    padding: 15px;
    border-radius: 5px;
}

/* What i do section */

.what-i-do-parent{
    background-color: #FFF8F3;
    margin: 60px auto;
    text-align: center;
}

.what-i-do-card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.what-i-do-card{
    border: 2px solid #fd6e0a;
    border-radius: 10px;
    padding: 10px;
}

/* summary section */

.summary-resume{
    background-color: #FFF8F3;
    margin: 100px auto;
    
    
}
.summary-heading{
    text-align: center;
    padding: 80px;
}

.summary-parent{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.summary-child{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.summary-child-1 h2, h3 {
    margin-bottom: 10px; 
    text-align: start; 
}

.download-btn{
    margin: 50px auto;
    text-align: center;
}

.common-btn-1{
    display: inline-flex;
    align-items: center;
    gap: 10px;

    background-color: #fd6e0a;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.download-btn .common-btn-1 i{
    color: white;
}

/* my amazing section */

.amazing-parent{
    text-align: center;
    
}

.gallery{
    margin-top: 30px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-template-areas: 
    "one two three"
    "four two six"
    "four five six";
}

.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.box1{
    grid-area: one;
}
.box2{
    grid-area: two;
}
.box3{
    grid-area: three;
}
.box4{
    grid-area: four;
}
.box5{
    grid-area: five;
}
.box6{
    grid-area: six;
}

/* footer area */

footer{
    text-align: center;
    margin-top: 80px !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 80px !important;
    background-color: #FFF8F3;
    padding: 20px;
}

footer form{
    padding: 20px;
}

.footer-left{
    text-align: start;
}
.footer-left p{
    margin: 10px 0;
}

footer form input, footer form textarea {
    border: none;
    outline: none;
    background-color: white;
    padding: 8px 15px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.footer-icon-parent span {
    color: #fd6e0a;
    font-size: 18px;
    padding: 3px;

}